<a href="https://colab.research.google.com/github/karan11111111111/AIL-3073-/blob/main/python_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s = 'hey' # or "hey"
inte = 1
flt = 1.42

In [ ]:
# printing value
print(flt)
print(inte)
print(s)
print(s[1])

1.42
1
hey
e

In [ ]:
# type() to print type of value variable store
print(type(s))

<class 'str'>

In [ ]:
s = 891
print(type(s)) # type is dynamic in python

<class 'int'>

In [ ]:
# Primitive Data Structures
# Integers (var = 1312)
# Float (var = 1.423)
# Strings (var_name = "string" or 'string')
# Boolean (var_name = True/False)

mark = True
print(mark)

True

In [ ]:
sample_input = input("Enter your value: ")
print(type(sample_input)) # always string type

Enter your value: 123
<class 'str'>

In [ ]:
# output value

w = "world"
print("Hello")
print(w)

Hello
world

In [ ]:
# print in same line
print("Hello", end=" ")
print(w)

Hello world

In [ ]:
print("Hello", w)
num = 123.12
print(num, "hello", w)
print(f"{num} hello {w}")

Hello world
123.12 hello world
123.12 hello world

In [ ]:
sample_input = input("Enter your value: ")
print(type(sample_input)) # always string type
print(sample_input)

Enter your value: 76
<class 'str'>
76

In [ ]:
# float() to covnert to flaot
# bool() to convert to boolean, bool(\string) will return false only if string is empty
sample_input = int(input("Enter your value: "))
print(type(sample_input)) # always string type
print(sample_input)

Enter your value: abc

ValueError: invalid literal for int() with base 10: 'abc'

In [ ]:
# List in python https://docs.python.org/3/tutorial/datastructures.html
lst = [1,2,3,4,5] # lst = [] for empty list
print(type(lst))
print(lst)
print(lst[3])

<class 'list'>
[1, 2, 3, 4, 5]
4

In [ ]:
lst.append(8)
print(lst)

[1, 2, 3, 4, 5, 8]

In [ ]:
lst.append('hey')
print(lst)

[1, 2, 3, 4, 5, 8, 'hey']

In [ ]:
# list.insert(i, x)
# Insert an item at a given position. The first argument is the index of the element before which to insert,
# so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).
lst.insert(1, 'world')
print(lst)

[1, 'world', 2, 3, 4, 5, 8, 'hey']

In [ ]:
lst = lst[1:4] # return list of elements from index [1 to (4-1)]
print(lst)

['world', 2, 3]

In [ ]:
lst = [8,7,2,5,1,2,45,1]
print(lst)
lst.sort() # lst.sort(reverse = True)
print(lst)

[8, 7, 2, 5, 1, 2, 45, 1]
[1, 1, 2, 2, 5, 7, 8, 45]

In [ ]:
# prompt: for loop in python from 0 to n-1

n = 10  # Replace with your desired value of n
for i in range(n):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
lst = [1, 2, 3, 4, 5]

for x in lst:
  print(x)

1
2
3
4
5

In [ ]:
a = 1
b = 3

while a < b:
  print("a is smaller than b")
  a = a + 1

a is smaller than b
a is smaller than b

In [ ]:
a = 1
b = 2

if a < b:
  print("a is smaller than b")

a is smaller than b

In [ ]:
a = 1
b = 2

if a < b:
  print("a is smaller than b")
else:
  print("a is not smaller than b")

a is smaller than b

In [ ]:
a = 1
b = 1

if a < b:
  print("a is smaller than b")
elif a > b:
  print("a is not smaller than b")
else:
  print("a is equal to b")

a is equal to b

In [ ]:
# prompt: function example in python

def add(a, b):
  """
  This function adds two numbers and returns the sum.
  """
  return a + b

def subtract(a, b):
  """
  This function subtracts two numbers and returns the difference.
  """
  return a - b

def multiply(a, b):
  """
  This function multiplies two numbers and returns the product.
  """
  return a * b

def divide(a, b):
  """
  This function divides two numbers and returns the quotient.
  """
  if b == 0:
    return "Division by zero is not allowed"
  else:
    return a / b

In [ ]:
print(add(3,4))

7

In [ ]:
# using = to copy list creates swallow copy
lst = [1,2,3,4,5]
lst2 = lst
lst2[0] = 10
print(lst)

[10, 2, 3, 4, 5]

In [ ]:
# use .copy() of list creates deep copy
lst = [1,2,3,4,5]
lst2 = lst.copy()
lst2[0] = 10
print(lst)
print(lst2)

[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [ ]:
# tuples - variable to store multiple values

t = (1,"hey",3.1)
print(t)
print(type(t))
print(t[0])
print(t[1])
print(t[2])

(1, 'hey', 3.1)
<class 'tuple'>
1
hey
3.1

In [ ]:
#  stack in python using list

stack = []
stack.append(12)
stack.append(15)
stack.append(17)
print(stack.pop())
print(stack.pop())
print(stack.pop())

17
15
12

In [ ]:
queue = []
queue.append(12)
queue.append(15)
queue.append(17)
print(queue.pop(0))
print(queue.pop(0))
print(queue.pop(0))

12
15
17

In [ ]:
from queue import PriorityQueue

q = PriorityQueue()
q.put(2)
q.put(3)
q.put(4)
q.put(5)
q.put(1)

# remove and return
# lowest priority item
print(q.get())
print(q.get())

1
2

In [ ]:
thisdict = {}
thisdict[2] = "red"
thisdict["color"] = "blue"
thisdict["name"] = "rohan"
print(thisdict)
thisdict[2] = "green"
print(thisdict)

print(thisdict['color'])
print(thisdict[2])

{2: 'red', 'color': 'blue', 'name': 'rohan'}
{2: 'green', 'color': 'blue', 'name': 'rohan'}
blue
green

In [ ]:
for i in range(10):
   print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
if (2,1,3) > (2,1,3):
  print(True)

In [ ]:
# prompt: take 2d array as input

def process_2d_array():
  """Takes a 2D array as input from the user and performs operations."""

  rows = int(input("Enter the number of rows: "))
  cols = int(input("Enter the number of columns: "))

  array_2d = []
  for i in range(rows):
    row = []
    for j in range(cols):
      element = int(input(f"Enter element at row {i+1}, column {j+1}: "))
      row.append(element)
    array_2d.append(row)

  print("Entered 2D array:")
  for row in array_2d:
    print(row)

  # Example operations (you can add more here)
  print("\nSum of all elements:", sum(sum(row) for row in array_2d))


if __name__ == "__main__":
  process_2d_array()

Enter the number of rows: 4
Enter the number of columns: 5
Enter element at row 1, column 1: 0 0 0 0 0 0

ValueError: invalid literal for int() with base 10: '0 0 0 0 0 0'